<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <title>タスク管理</title>
</head>
<body>
  <div id="app" class="px-5">
    <h1 class="my-4">タスク管理</h1>
    <div class="now">

      <div
        class="col-md-4"
        v-for="(statusItems,statusId) in items"
      >

        <h4 v-text="getStatusName(statusId)"></h4>

        <draggable
          class="list-group"
          v-model="items[statusId]"
          group="items-todo-list"
          @change="onChange($event, statusId)"
        >
          <div
            class="list-group-item bg-light"
            :key="i.id"
            v-for="i in statusItems"
            v-text="i.name">
          </div>
        </draggable>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.1/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <script src="./main.js" type="text/javascript"></script>

</body>
</html>
